@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css */
.custom-checkbox {
  padding: 10px 10px;
  border-radius: 4px;
}
.custom-check {
  bottom: 4px;
  left: 2px
}