@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css */
.custom-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.custom-check {
  bottom: 4px;
  left: 2px
}